.wrapper{
    display: flex;
    flex-direction: column;
}
.card{
    background-color: white;
    margin: 10px;
}
.card-body{
    border: solid;
    border-color: lightgray;
    margin: 0px 20%;
    display: flex;

}
#generate{
    margin: 5px 20%;
    border-radius: 10px;
}
.card-header{
    margin: 0px 20% 5px 30%;
}
h1{
    margin: 0px 0% 5px 27%;
}
#password{
    align-content: center;
}
