.wrapper{
    display: flex;
    flex-direction: column;
}
.card{
    background-color: white;
    margin: 0 20%;
    padding-bottom: 20px;
}
.card-body{
    border: solid;
    border-color: lightgray;
    margin: 0px 20%;
    display: flex;

}
#generate{
    margin: 5px 0px;
    border-radius: 10px;
    width: 100px;
    background-color: red;
    color: white;
}
.card-header{
    display: flex;
    justify-content: center;
}

#password{
    flex-grow: 1;
}
#copyClipboardBtn{
    margin: 5px 0px;
    border-radius: 10px;
    background-color:lightgray;
    color: white;
    width: 100px;
    background-color: lightgrey;
    color: white;
    
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card-body{
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
}
body{
    background-color: lightgrey;
}